@import "../../styles/variables.scss";

.cocktail-list-item {
	display: grid;
	grid-template-columns: 1fr 3fr;
	border: 1px solid $textColor;
	border-radius: 10px;
	margin-bottom: 20px;

	@media screen and (max-width: $mobile) {
		grid-template-columns: 1fr 2fr;
	}

	&__img-block {
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__description-block {
		padding: 10px 20px;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
	}

	&__header {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 15px;
	}

	&__description {
		margin-bottom: 10px;
	}
}

.preview-button {
	background-color: transparent;
	border: 0;
}

.fa-search {
	color: $textColor;
	font-size: 20px;
}
