$textColor: #40312a;
$mainAppGradient: linear-gradient(
	45deg,
	hsl(35deg 48% 43%) 0%,
	hsl(35deg 48% 46%) 11%,
	hsl(35deg 48% 50%) 21%,
	hsl(35deg 54% 53%) 31%,
	hsl(35deg 56% 55%) 41%,
	hsl(36deg 56% 56%) 51%,
	hsl(36deg 56% 57%) 60%,
	hsl(36deg 56% 59%) 70%,
	hsl(35deg 56% 62%) 80%,
	hsl(35deg 56% 65%) 90%,
	hsl(35deg 56% 68%) 100%
);

$addButtonGradient: linear-gradient(
	90deg,
	hsl(35deg 48% 43%) 0%,
	hsl(35deg 48% 46%) 11%,
	hsl(35deg 48% 50%) 21%,
	hsl(35deg 54% 53%) 31%,
	hsl(35deg 56% 55%) 41%,
	hsl(36deg 56% 56%) 51%,
	hsl(36deg 56% 57%) 60%,
	hsl(36deg 56% 59%) 70%,
	hsl(35deg 56% 62%) 80%,
	hsl(35deg 56% 65%) 90%,
	hsl(35deg 56% 68%) 100%
);

$modalContentBackgroundGradient: linear-gradient(
	40deg,
	hsl(35deg 56% 54%) 0%,
	hsl(35deg 56% 56%) 3%,
	hsl(35deg 56% 58%) 8%,
	hsl(35deg 56% 59%) 13%,
	hsl(35deg 56% 61%) 20%,
	hsl(35deg 56% 63%) 29%,
	hsl(35deg 56% 65%) 40%,
	hsl(35deg 56% 67%) 54%,
	hsl(35deg 56% 69%) 71%,
	hsl(35deg 56% 71%) 87%,
	hsl(35deg 56% 72%) 100%
);

// Media queries variables
$tabletL: 1024px;
$tablet: 768px;
$mobile: 525px;
$mobileSmall: 350px;
