.modal {
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s;
}

.modal.active {
	opacity: 1;
	pointer-events: all;
}

.modal__content {
	width: 30vw;
	border-radius: 12px;
	transform: scale(0.5);
	transition: all 0.3s;
	display: flex;
	flex-direction: column;
	padding: 30px 40px;
	gap: 20px;
	// background-color: #e0bf91;
	background-image: linear-gradient(
		40deg,
		hsl(35deg 56% 54%) 0%,
		hsl(35deg 56% 56%) 3%,
		hsl(35deg 56% 58%) 8%,
		hsl(35deg 56% 59%) 13%,
		hsl(35deg 56% 61%) 20%,
		hsl(35deg 56% 63%) 29%,
		hsl(35deg 56% 65%) 40%,
		hsl(35deg 56% 67%) 54%,
		hsl(35deg 56% 69%) 71%,
		hsl(35deg 56% 71%) 87%,
		hsl(35deg 56% 72%) 100%
	);
}

.modal__content.active {
	transform: scale(1);
}
