@import "./styles/variables.scss";

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Syne", sans-serif;
}

html {
	overflow-y: scroll;
}

body {
	padding: 0 10px;
}

.App {
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	align-items: center;
	max-width: 800px;
	padding: 40px 60px;
	margin: 50px auto;
	border-radius: 15px;
	color: $textColor;
	background-image: $mainAppGradient;

	@media screen and (max-width: $tabletS) {
		max-width: 600px;
		padding: 30px 30px;
	}

	@media screen and (max-width: $mobileL) {
		padding: 30px 15px;
	}
}
